<html lang="en">
    {{> head }}
<body>
    <div class="main-content">
        {{> header }}

        <div class="profile">
            <img src="/img/RAMZY FOTO.jpg" alt="Foto Ramzy Junfaris" class="profile-img">
        </div>

        {{> footer }}
    </div>
</body>
</html>
