<header>
    <div class="header-left">
        <img src="/img/1779940.png" alt="Weather Icon">
        <h1>{{ judul }}</h1>
    </div>

    <nav>
        <a href="/">Home</a>
        <a href="/tentang">Tentang</a>
        <a href="/berita">Berita</a>
        <a href="/bantuan">Bantuan</a>
    </nav>
</header>